@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");

body {
  max-width: 51em;
  margin: auto;
  font-family: "Noto Serif", serif;
  color: #212529;
}

a {
  color: #212529;
  text-decoration: underline;
  text-decoration-color: #6c757d
}

a:hover, a:focus {
  color: #6c757d;
  text-decoration: underline;
}

footer {
  padding-bottom: 0.7rem !important;
  font-size: .92em; /* .84em */
}

header {
  padding-top: 0.5rem !important;
}

.hanging-indent {
  padding-left: 1.5em ;
  text-indent: -1.5em ;
}
